<div class="container">
  <div class="box-logo">
    <div class="box-logo__item">
      <div class="box-logo__image">
        <img src="http://stanfordilnhd4dalk5nb.devcloud.acquia-sites.com/sites/default/files/partnerlogos/box-logo1.png" typeof="foaf:Image">
      </div>
    </div>
    <div class="box-logo__item">
      <div class="box-logo__image">
        <img src="http://stanfordilnhd4dalk5nb.devcloud.acquia-sites.com/sites/default/files/partnerlogos/box-logo2.png" typeof="foaf:Image">
      </div>
    </div>
    <div class="box-logo__item">
      <div class="box-logo__image">
        <img src="http://stanfordilnhd4dalk5nb.devcloud.acquia-sites.com/sites/default/files/partnerlogos/box-logo3.png" typeof="foaf:Image">
      </div>
    </div>
  </div>
</div>
