//Include styles for Modern Browsers

$ie-8: false;
$rhythm-unit: 'rem';
$rem-with-px-fallback: false;
$breakpoint-to-ems: true;
@import 'styles-main';

.component--source {
	display: none;

	&.active {
		display: block;
	}
}
