{# index.twig #}
{% extends "layout/layout.twig" %}
{% block index %}
  <div class="container">
    {% block title %}ILN Styleguide{% endblock %}

    {% block desc %}
      <div> Show all component with design.</div>
      <div>Require component:</div>
      <ul>
        <li>- Code standards.</li>
        <li>- Naming standards.</li>
      </ul>
    {% endblock %}
  </div>

  {% block body %}
    {% set list_components = [
      {
        'id':'demo',
        'name': 'Demo'
      },
      {
        'id':'04-boxhero',
        'name': 'Box hero'
      },
      {
        'id':'box-logo',
        'name': 'Box Logo'
      },
      {
        'id':'box_img',
        'name': 'Box Img'
      },
      {
        'id':'box-tags',
        'name': 'Box Tags'
      },
      { 'id':'box-teaser',
        'name': 'Box Teaser'
      },
      {
        'id':'testimonial',
        'name': 'Testimonial'
      },
      {
        'id':'breadcrumd',
        'name': 'Breadcrumd'
      },
      {
        'id':'get-in-touch',
        'name': 'Get In Touch'
      },
      {
        'id':'tab-horizontal',
        'name': 'Tab Horizontal'
      },
      {
        'id':'tab-vertical',
        'name': 'Tab Vertical'
      },
      {
        'id':'box-title-icon',
        'name': 'Box Title Icon'
      },
      { 'id':'box-teaser-detail',
        'name': 'Box Teaser Detail'
      },
      {
        'id':'sign-in',
        'name': 'Sign in'
      },
      {
        'id':'sign-up',
        'name': 'Sign up'
      },
      {
        'id':'sign-up-note',
        'name': 'Sign up note'
      },
      {
        'id':'box-download',
        'name': 'Box Download'
      }

    ] %}
    {% for component in list_components %}
      <div class="component--item" id="{{component.id}}">
        <h2 class="component--title">{{ loop.index }}. {{ component.name }}</h2>
        <div class="component--demo">{% include "../components/" ~ component.id ~ "/" ~ component.id ~ ".html" %}</div>
        <button class="show-code">Show/Hide Code</button>
        <div class="component--source element-invisible">
          <div class="component--html">
            <h2 class="component--source--title">Markup</h2>
            <pre  class="brush: php">{% include "../components/" ~ component.id ~ "/" ~ component.id ~ ".html" %}</pre>
          </div>
          <button class="hide-code">Hide Code</button>
        </div>
      </div>
    {% endfor %}
  {% endblock %}
{% endblock %}
