{% extends "layout/layout.twig" %}
{% block styleguide %}
  <div class="container">
    {% block body %}
    <div class="component--item">
      <div class="component--demo">
        <div class="panel-pane">
          <h2 class="pane-title">StyleGuide</h2>
        </div>
        <h1>H1 Title Heading </h1>
        <p>Vestibulum eget libero velit, at sollicitudin ipsum. Vivamus tellus ante, lobortis eu posuere sed, bibendum eu erat.</p>
        <br>
        <h2>H2 Title Heading</h2>
        <p>Aliquam sollicitudin felis sit amet mauris mattis consectetur. Praesent sed bibendum est.</p>
        <br>
        <h3>H3 Title Heading</h3>
        <p>Morbi quis arcu et nisl varius adipiscing sed sit amet orci. Duis non erat turpis.</p>
        <br>
        <h4>H4 Title Heading</h4>
        <p>Vestibulum sed scelerisque eros. Nullam ipsum sapien, elementum a.</p>
        <br>
        <h2><a href="#" title="H2 Link Hover">H2 Link</a></h2>
        <h3><a href="#" title="H3 Link Hover">H3 Link</a></h3>
        <h4><a href="#" title="H4 Link Hover">H4 Link</a></h4>
        <br>
        <h2 class="page-header">Link</h2>
        <hr>
        <p><a href="#">This is a normal link</a></p>
        <br>
        <h2 class="page-header">Paragraph</h2>
        <hr>
        <h3>I Considered “Us” With Quiet Interest</h3>
        <p>And a kind of amused awe. How could I describe our relationship even to myself without either disparaging it or insulting it with the tawdry decoration of sentimentality? For this our delicate balance of dependence and independence, this coolly critical, shrewdly ridiculing, but loving mutual contact, was surely a microcosm of true community, was after all in its simple style an actual and living example of that high goal which the world seeks.</p>
        <br>

        <h2 class="page-header">Blockquotes</h2>
        <hr>
        <blockquote>
          <p>Abundant well impotent trustful far a quail unanimous concentric overslept after this then meagerly gave impala where serenely richly brpoadcast but more. Inoffensive onto earthworm alas then much some gosh past sank militantly one essentially duteous.</p>
        </blockquote>
      </div>
    </div>
    <div class="component--item">
      <h2 class="component--title">List</h2>
      <div class="component--demo">
        <h2 class="page-header">List Ul</h2>
        <hr>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
            </ul>
          </li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
        </ul>
        <br>
        <br>

        <h2 class="page-header">List Ol</h2>
        <hr>
        <ol>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
            </ul>
          </li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
        </ol>
      </div>
    </div>
    <div class="component--item">
      <h2 class="component--title">Pagination</h2>
      <div class="component--demo">
        <ul class="pager">
          <li class="pager-previous first"><span>&lt;</span>
          </li>
          <li class="pager-current"><span>1</span>
          </li>
          <li class="pager-item"><a href="#">2</a>
          </li>
          <li class="pager-item"><a href="#">3</a>
          </li>
          <li class="pager-item"><a href="#">4</a>
          </li>
          <li class="pager-item"><a href="#">5</a>
          </li>
          <li class="pager-ellipsis">…</li>
          <li class="pager-next"><a href="#">&gt;</a>
          </li>
          <li class="pager-last last"><a href="#">&gt;&gt;</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="component--item">
      <h2 class="component--title">Form</h2>
      <div class="component--demo">
        <form>
          <h2 class="page-header">Input text</h2>
          <hr>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" placeholder="Enter email" id="exampleInputEmail1" class="form-text">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" placeholder="Password" id="exampleInputPassword1" class="form-text">
          </div>
          <br>

          <h2 class="page-header">Input file</h2>
          <hr>
          <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="exampleInputFile">
            <p class="help-block">Example block-level help text here.</p>
          </div>
          <br>

          <h2 class="page-header">Textarea</h2>
          <hr>
          <textarea rows="3" class="form-textarea"></textarea>
          <br>
          <br>

          <h2 class="page-header">Checkbox &amp; Radio</h2>
          <hr>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Option one is this and that&mdash;be sure to include why it's great
            </label>
          </div>
          <div class="checkbox disabled">
            <label>
              <input type="checkbox" disabled="" value="">
              Option two is disabled
            </label>
          </div>
          <br>

          <div class="radio">
            <label>
              <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">
              Option one is this and that&mdash;be sure to include why it's great
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">
              Option two can be something else and selecting it will deselect option one
            </label>
          </div>
          <div class="radio disabled">
            <label>
              <input type="radio" disabled="" value="option3" id="optionsRadios3" name="optionsRadios">
              Option three is disabled
            </label>
          </div>
          <br>

          <h2 class="page-header">Select</h2>
          <hr>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <br>
          <select class="form-control" multiple="">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <br>
          <br>
          <button class="button form-submit" type="submit">Submit</button>
        </form>
      </div>
    </div>
    {% endblock %}
  </div>
{% endblock %}
