{% extends "layout/layout.twig" %}
{% block styleguide %}
  <div class="container">
    {% block body %}
      <h1>H1 Title Heading</h1>
      <h2>H2 Title Heading</h2>
      <h3>H3 Title Heading</h3>
      <h4>H4 Title Heading</h4>
      <h3>Links Styling</h3>
      <h2><a title="H2 Link Hover" href="#">H2 Link</a></h2>
      <h3><a title="H3 Link Hover" href="#">H3 Link</a></h3>
      <h4><a title="h3 Link Hover" href="#">H4 Link</a></h4>
      <p><a href="#">This is a normal link</a></p>
    {% endblock %}
  </div>
{% endblock %}
