<div class="box-hero">
  <div class="box-hero__image">
    <img src="../../images/box-frontpage.jpg" alt="image box hero">
  </div>
  <div class="box-hero__group-content">
    <div class="box-hero__group-content__title">
      Welcome to the
    </div>
    <div class="box-hero__group-content__description">
      ILN Performance Assessment Resource Bank
    </div>
    <div class="box-hero__group-content__link">
      <a class="btn-default" href="#">login</a> or <a class="learm-more" href="#">Learn More</a>
    </div>
  </div>
</div>
<div class="box-hero box-hero--wide">
  <div class="box-hero__image">
    <img src="../../images/box-hero--wide.jpg" alt="image box hero wide">
  </div>
  <div class="box-hero__group-content">
    <div class="box-hero__group-content__description">
      ILN Performance Assessment Resource Bank
    </div>
    <div class="box-hero__group-content__content">
      High-quality, expert-reviewed performance tasks and the resources teachers, leaders, and policymakers need to support the use of performance assessment for meaningful learning.
    </div>
    <div class="box-hero__group-content__link">
      <a class="btn-default" href="#">Start Using Resources for Free</a>
    </div>
  </div>
</div>
<div class="box-hero box-hero--more box-hero--dark">
  <div class="box-hero__image">
    <img src="../../images/boxhero-about-page.jpg" alt="image box hero about">
  </div>
  <div class="box-hero__group-content">
    <div class="box-hero__group-content__title">
      About Us
    </div>
    <div class="box-hero__group-content__content">
      The Innovation Lab Network (ILN) Performance Assessment Project supports ILN member states with integrating performance assessments into their systems of assessment, developing the capacity of educators to effectively use performance assessment, and designing
      policies to support these efforts.
    </div>
  </div>
</div>



