{% block sign_in %}
<div id="modalContent" class="modal-content-sign-in modal fade">
  <div class="ctools-modal-content modal-forms-modal-content">
    <div class="popups-container">
      <div class="modal-header popups-title"> <span class="modal-title" id="modal-title">Member sign in</span> <span class="popups-close close" data-dismiss="modal">Close</span>
        <div class="clear-block"></div>
      </div>
      <div class="modal-scroll">
        <div class="modal-content popups-body" id="modal-content">
          <form accept-charset="UTF-8" id="user-login" method="post" action="" class="form-sign-in ctools-use-modal-processed">
            <div>
              <div class="form-item form-type-textfield form-item-name">
                <label for="edit-name">E-mail <span title="This field is required." class="form-required">*</span></label>
                <input type="text" class="form-text required" maxlength="60" size="25" value="" name="name" id="edit-name" placeholder="Email">
                <div class="description">Enter your e-mail address.</div>
              </div>
              <div class="form-item form-type-password form-item-pass">
                <label for="edit-pass">Password <span title="This field is required." class="form-required">*</span></label>
                <input type="password" class="form-text required" maxlength="128" size="25" name="pass" id="edit-pass" placeholder="Password">
                <div class="description">Enter the password that accompanies your e-mail.</div>
              </div>
              <a class="forgot-pw-link" href="/user/password">Forgot password?</a>
              <div id="edit-actions" class="form-actions form-wrapper">
                <input type="submit" class="form-submit" value="Sign in" name="op" id="edit-submit">
              </div>
              <div class="hybridauth-widget-wrapper">
                <div class="item-list">
                  <h3>Or</h3>
                  <ul class="hybridauth-widget">
                    <li class="first last"><a data-hybridauth-height="500" data-hybridauth-width="800" data-ajax="false" data-hybridauth-url="/hybridauth/window/Facebook?destination=dashboard&amp;destination_error=home" data-hybridauth-provider="Facebook" rel="nofollow" class="hybridauth-widget-provider hybridauth-onclick-current hybridauth-onclick-processed hybridauth-last-provider hybridauth-provider-processed" title="Facebook" href="/hybridauth/window/Facebook?destination=dashboard&amp;destination_error=home"><span title="Facebook" class="hybridauth-icon facebook hybridauth-icon-hybridauth-48 hybridauth-facebook hybridauth-facebook-hybridauth-48"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
