# SASS #
##########
.sass-cache
.sass-cache/*

# Gulp #
##########
node_modules/
node_modules/*
bower_components
bower_components/*

# Bundler #
##########
Gemfile.lock

# NPM #
npm-debug.log

# Css #
css/style.css
css/style.css.map