{% set title_icon = [
    {
      'title_class': 'performance_tasks',
      'title': 'Performance Tasks',
      'content': 'K-12 performance tasks in math, English/language arts, science, and history/social studies'
    },
    {
      'title_class': 'portfolio_frameworks',
      'title': 'Portfolio Frameworks',
      'content': 'Learn how schools and systems use performance assessment as part of a larger portfolio of student work',
    },
    {
      'title_class': 'learning_progressions',
      'title': 'Learning Progressions & Frameworks',
      'content': 'Learn to use developmental progressions & trajectories to support students in math, English/language arts, and 21st century skills & dispositions',
    },
    {
      'title_class': 'assessment_literacy',
      'title': 'Assessment Literacy',
      'content': 'Tools that will help you learn to use, develop, review, & score performance tasks',
    },
    {
      'title_class': 'curriculum_instruction_assessment',
      'title': 'Curriculum, Instruction, & Assessment',
      'content': 'Resources supporting the integration of performance assessment with curriculum and instruction, including sample units and modules',
    },
    {
      'title_class': 'policy_resources',
      'title': 'Policy & Research',
      'content': 'Learn about state and district policies that support performance assessment & evidence from research to support these policies',
    },
  ]
%}

{% block box_title_icon %}
  <div class="container">
    <div class="box-title-icon">
      {% for box in title_icon %}
        <h1 class="title-icon {{ box.title_class }}">{{ box.title }}</h1>
        <div class="box-title-icon__content"><p>{{ box.content }}</p></div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
