<div class="box-teaser box-teaser--full">
  <div class="box-teaser__grid">
    <div class="box-teaser__item">
      <div class="box-teaser__line-task">
        <h2 class="box-teaser__title">QPA tool Calibration protocol</h2>
        <span class="box-teaser__status">free</span>
      </div>
      <div class="box-teaser__line-task">
        <div class="box-teaser__category">
          <label class="box-teaser__label">Category</label>Ensuring the Quality of Performance Tasks</div>
        <div class="box-teaser__grade-lever">
          <label class="box-teaser__label">Grade Lever</label>grade1</div>
        <div class="box-teaser__subject">
          <label class="box-teaser__label">Subject</label>subject1</div>
        <div class="box-teaser__course">
          <label class="box-teaser__label">Course</label>course1</div>
      </div>
      <div class="box-teaser__line-task">
        <div class="box-teaser__rating">
          <label class="box-teaser__label">Rating</label>rating1</div>
        <div class="box-teaser__tags">
          <label class="box-teaser__label">Tags</label>tags1</div>
      </div>
      <div class="box-teaser__content">content1</div>
    </div>
  </div>
</div>

<div class="box-teaser box-teaser--full">
  <div class="box-teaser__grid">
    <div class="box-teaser__item">
      <div class="box-teaser__line-task">
        <h2 class="box-teaser__title">QPA tool Calibration protocol</h2>
        <span class="box-teaser__status">free</span>
      </div>
      <div class="box-teaser__line-task">
        <div class="box-teaser__category">
          <label class="box-teaser__label">Category</label>Ensuring the Quality of Performance Tasks</div>
        <div class="box-teaser__grade-lever">
          <label class="box-teaser__label">Grade Lever</label>grade1</div>
        <div class="box-teaser__subject">
          <label class="box-teaser__label">Subject</label>subject1</div>
        <div class="box-teaser__course">
          <label class="box-teaser__label">Course</label>course1</div>
      </div>
      <div class="box-teaser__line-task">
        <div class="box-teaser__rating">
          <label class="box-teaser__label">Rating</label>rating1</div>
        <div class="box-teaser__tags">
          <label class="box-teaser__label">Tags</label>tags1</div>
      </div>
      <div class="box-teaser__content">content2</div>
    </div>
  </div>
</div>


