{% block tabhorizontal %}
	<div class="horizontal-tabs clearfix">
		<ul class="horizontal-tabs-list">
			<li tabindex="-1" class="horizontal-tab-button horizontal-tab-button-0 first selected">
				<a href="#" class="active">Recently Viewed</a>
			</li>
			<li tabindex="-1" class="horizontal-tab-button horizontal-tab-button-1 last">
				<a href="#">Popular</a>
			</li>
		</ul>
	<div class="horizontal-tabs-panes horizontal-tabs-processed">
		<fieldset id="node_portfolio_full_group_information" class="portfolio-detail__information group-information field-group-htab form-wrapper horizontal-tabs-pane">
			<legend><span class="fieldset-legend">Information</span></legend>
			<div class="fieldset-wrapper">
				<div class="field field-name-field-information field-type-text-long field-label-hidden">
					<div class="field-items">
						<div class="field-item even">
							<h3>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a>lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a>lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus.</p>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	<fieldset id="node_portfolio_full_group_configuration" class="portfolio-detail__configuration group-configuration field-group-htab form-wrapper horizontal-tabs-pane horizontal-tab-hidden">
		<legend><span class="fieldset-legend">Configuration</span></legend>
		<div class="fieldset-wrapper">
			<div class="field field-name-field-configuration field-type-text-long field-label-hidden">
				<div class="field-items">
					<div class="field-item even">
						<p>Pellentesque eros dui, bibendum sodales urna non, cursus luctus lacus. Pellentesque vulputate metus cursus est fringilla luctus. Suspendisse tincidunt mollis felis. Donec tristique porttitor ipsum non dapibus. Aliquam at dictum risus, euismod blandit nulla. Fusce consectetur sem id mauris dignissim, et ornare sem tempus. Cras viverra lacinia tellus; dignissim semper leo. Maecenas quis ipsum consectetur, ornare nulla eget, adipiscing</p>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
</div></div>
{% endblock %}
