<div class="quicktabs-wrapper quicktabs-style-nostyle" id="quicktabs-tabs">
  <div class="item-list">
    <ul class="quicktabs-tabs quicktabs-style-nostyle">
      <li class="first">
        <a id="quicktabs-tab-tabs-0" class="active quicktabs-loaded" href="#">Performance Tasks</a>
      </li>
      <li>
        <a id="quicktabs-tab-tabs-1" class="quicktabs-loaded" href="#">Assessment Literacy</a>
      </li>
      <li>
        <a id="quicktabs-tab-tabs-2" class="quicktabs-loaded" href="#">Portfolio Frameworks</a>
      </li>
      <li>
        <a id="quicktabs-tab-tabs-3" class="quicktabs-loaded" href="#">Learning Progressions & Frameworks</a>
      </li>
      <li>
        <a id="quicktabs-tab-tabs-4" class="quicktabs-loaded" href="#">Curriculum, Instruction, & Assessment</a>
      </li>
      <li class="last">
        <a id="quicktabs-tab-tabs-5" class="quicktabs-loaded" href="#">Policy & Research</a>
      </li>
    </ul>
  </div>

  <div class="quicktabs_main quicktabs-style-nostyle" id="quicktabs-container-tabs">
    <div class="quicktabs-tabpage" id="quicktabs-tabpage-tabs-0">
      <div class="block block-block odd" id="block-block-14">
        <div class="block-inner clearfix">
          <div class="tab-vertical__title">
            <h2>Performance Tasks</h2>
          </div>
          <div class="tab-vertical__content">
            <p>Learning progressions and frameworks can be used to support individual student growth by clearly outlining the ways in which students learn in a developmentally appropriate way. Find sample progressions in English/language arts and mathematics
              and frameworks for 21st Century skills and dispositions here.</p>
          </div>
          <a class="btn" href="/bin/performance-tasks">Browse Performance Tasks</a>
        </div>
      </div>
    </div>
    <div class="quicktabs-tabpage quicktabs-hide" id="quicktabs-tabpage-tabs-1">
      <div class="block block-block odd" id="block-block-14">
        <div class="block-inner clearfix">
          <div class="tab-vertical__title">
            <h2>Learning Progressions & Frameworks</h2>
          </div>
          <div class="tab-vertical__content">
            <p>Learning progressions and frameworks can be used to support individual student growth by clearly outlining the ways in which students learn in a developmentally appropriate way. Find sample progressions in English/language arts and mathematics
              and frameworks for 21st Century skills and dispositions here.</p>
          </div>
          <a class="btn" href="/bin/performance-tasks">Browse Performance Tasks</a>
        </div>
      </div>
    </div>
    <div class="quicktabs-tabpage quicktabs-hide" id="quicktabs-tabpage-tabs-2">
      <div class="block block-block odd" id="block-block-14">
        <div class="block-inner clearfix">
          <div class="tab-vertical__title">
            <h2>Assessment Literacy</h2>
          </div>
          <div class="tab-vertical__content">
            <p>Learning progressions and frameworks can be used to support individual student growth by clearly outlining the ways in which students learn in a developmentally appropriate way. Find sample progressions in English/language arts and mathematics
              and frameworks for 21st Century skills and dispositions here.</p>
          </div>
          <a class="btn" href="/bin/performance-tasks">Browse Performance Tasks</a>
        </div>
      </div>
    </div>
    <div class="quicktabs-tabpage quicktabs-hide" id="quicktabs-tabpage-tabs-3">
      <div class="block block-block odd" id="block-block-14">
        <div class="block-inner clearfix">
          <div class="tab-vertical__title">
            <h2>Portfolio Frameworks</h2>
          </div>
          <div class="tab-vertical__content">
            <p>Learning progressions and frameworks can be used to support individual student growth by clearly outlining the ways in which students learn in a developmentally appropriate way. Find sample progressions in English/language arts and mathematics
              and frameworks for 21st Century skills and dispositions here.</p>
          </div>
          <a class="btn" href="/bin/performance-tasks">Browse Performance Tasks</a>
        </div>
      </div>
    </div>
    <div class="quicktabs-tabpage quicktabs-hide" id="quicktabs-tabpage-tabs-4">
      <div class="block block-block odd" id="block-block-14">
        <div class="block-inner clearfix">
          <div class="tab-vertical__title">
            <h2>Curriculum, Instruction, & Assessment</h2>
          </div>
          <div class="tab-vertical__content">
            <p>Learning progressions and frameworks can be used to support individual student growth by clearly outlining the ways in which students learn in a developmentally appropriate way. Find sample progressions in English/language arts and mathematics
              and frameworks for 21st Century skills and dispositions here.</p>
          </div>
          <a class="btn" href="/bin/performance-tasks">Browse Performance Tasks</a>
        </div>
      </div>
    </div>
    <div class="quicktabs-tabpage quicktabs-hide" id="quicktabs-tabpage-tabs-5">
      <div class="block block-block even" id="block-block-18">
        <div class="block-inner clearfix">
          <div class="tab-vertical__title">
            <h2>Policy & Research</h2>
          </div>
          <div class="tab-vertical__content">
            <p>Learning progressions and frameworks can be used to support individual student growth by clearly outlining the ways in which students learn in a developmentally appropriate way. Find sample progressions in English/language arts and mathematics
              and frameworks for 21st Century skills and dispositions here.</p>
          </div>
          <a class="btn" href="/bin/performance-tasks">Browse Performance Tasks</a>
        </div>
      </div>
    </div>
  </div>
</div>
