{% block sign_up %}
<div id="modalContent" class="modal-content-agree-sign-up modal fade">
  <div class="ctools-modal-content modal-forms-modal-content">
    <div class="popups-container">
      <div class="modal-header popups-title"> <span class="modal-title" id="modal-title">User sign up</span> <span class="popups-close close" data-dismiss="modal">Close</span>
        <div class="clear-block"></div>
      </div>
      <div class="modal-scroll">
        <div class="modal-content popups-body" id="modal-content">
          <form accept-charset="UTF-8" id="user-register-form" method="post" action="" enctype="multipart/form-data" class="user-info-from-cookie form-sign-up ctools-use-modal-processed">
            <div>
              <div id="edit-field-user-name" class="field-type-text field-name-field-user-name field-widget-text-textfield form-wrapper">
                <div id="field-user-name-add-more-wrapper">
                  <div class="form-item form-type-textfield form-item-field-user-name-und-0-value">
                    <label for="edit-field-user-name-und-0-value">Name <span title="This field is required." class="form-required">*</span></label>
                    <input type="text" maxlength="255" size="60" value="" name="" id="edit-field-user-name-und-0-value" placeholder="Name" class="text-full form-text required">
                  </div>
                </div>
              </div>
              <div class="form-wrapper" id="edit-account">
                <input type="hidden" value="email_registration_g4bubdwqAf" name="name" class="username">
                <div class="form-item form-type-textfield form-item-mail">
                  <label for="edit-mail">E-mail <span title="This field is required." class="form-required">*</span></label>
                  <input type="text" class="form-text required" maxlength="254" size="30" value="" name="mail" id="edit-mail" placeholder="Email">
                  <div class="description">A valid e-mail address. All e-mails from the system will be sent to this address. The e-mail address is not made public and will only be used if you wish to receive a new password or wish to receive certain news or notifications by e-mail.</div>
                </div>
              </div>
              <div id="edit-field-state" class="field-type-list-text field-name-field-state field-widget-options-select form-wrapper">
                <div class="form-item form-type-select form-item-field-state-und">
                  <label for="edit-field-state-und">State <span title="This field is required." class="form-required">*</span></label>
                  <select name="field_state[und]" id="edit-field-state-und" class="chosen-enable form-select required" placeholder="State">
                    <option value="_none">State</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                  </select>
                </div>
              </div>
              <div id="edit-field-district-ref" class="field-type-taxonomy-term-reference field-name-field-district-ref field-widget-taxonomy-autocomplete form-wrapper">
                <div class="form-item form-type-textfield form-item-field-district-ref-und" role="application">
                  <label for="edit-field-district-ref-und">District </label>
                  <input type="text" class="form-text form-autocomplete" maxlength="1024" size="60" value="" name="field_district_ref[und]" id="edit-field-district-ref-und" placeholder="District" autocomplete="OFF" aria-autocomplete="list">
                  <input type="hidden" class="autocomplete autocomplete-processed" disabled="disabled" value="http://stanfordilnhd4dalk5nb.devcloud.acquia-sites.com/?q=taxonomy/autocomplete/field_district_ref" id="edit-field-district-ref-und-autocomplete">
                  <span aria-live="assertive" class="element-invisible" id="edit-field-district-ref-und-autocomplete-aria-live"></span></div>
              </div>
              <div id="edit-field-role-ref" class="field-type-taxonomy-term-reference field-name-field-role-ref field-widget-options-buttons items-odd form-wrapper">
                <div class="form-item form-type-checkboxes form-item-field-role-ref-und">
                  <label for="edit-field-role-ref-und">Role <span title="This field is required." class="form-required">*</span></label>
                  <div class="form-checkboxes" id="edit-field-role-ref-und">
                    <div class="form-item form-type-checkbox form-item-field-role-ref-und-129">
                      <input type="checkbox" class="form-checkbox" value="129" name="field_role_ref[und][129]" id="edit-field-role-ref-und-129">
                      <label for="edit-field-role-ref-und-129" class="option">District Leader </label>
                    </div>
                    <div class="form-item form-type-checkbox form-item-field-role-ref-und-127">
                      <input type="checkbox" class="form-checkbox" value="127" name="field_role_ref[und][127]" id="edit-field-role-ref-und-127">
                      <label for="edit-field-role-ref-und-127" class="option">Policymaker </label>
                    </div>
                    <div class="form-item form-type-checkbox form-item-field-role-ref-und-128">
                      <input type="checkbox" class="form-checkbox" value="128" name="field_role_ref[und][128]" id="edit-field-role-ref-und-128">
                      <label for="edit-field-role-ref-und-128" class="option">School Leader </label>

                    </div>
                    <div class="form-item form-type-checkbox form-item-field-role-ref-und-126">
                      <input type="checkbox" class="form-checkbox" value="126" name="field_role_ref[und][126]" id="edit-field-role-ref-und-126">
                      <label for="edit-field-role-ref-und-126" class="option">Teacher </label>

                    </div>
                    <div class="form-item form-type-checkbox form-item-field-role-ref-und-130">
                      <input type="checkbox" class="form-checkbox" value="130" name="field_role_ref[und][130]" id="edit-field-role-ref-und-130">
                      <label for="edit-field-role-ref-und-130" class="option">Other </label>

                    </div>
                  </div>
                </div>
              </div>
              <div id="edit-field-other-role-ref" class="field-type-taxonomy-term-reference field-name-field-other-role-ref field-widget-taxonomy-autocomplete form-wrapper form-disabled" disabled="disabled">
                <div class="form-item form-type-textfield form-item-field-other-role-ref-und" role="application">
                  <label for="edit-field-other-role-ref-und">Other role </label>
                  <input type="text" class="form-text form-autocomplete" maxlength="1024" size="60" value="" name="field_other_role_ref[und]" id="edit-field-other-role-ref-und" placeholder="Other" disabled="disabled" autocomplete="OFF" aria-autocomplete="list">
                  <input type="hidden" class="autocomplete autocomplete-processed" disabled="disabled" value="http://stanfordilnhd4dalk5nb.devcloud.acquia-sites.com/?q=taxonomy/autocomplete/field_other_role_ref" id="edit-field-other-role-ref-und-autocomplete">
                  <span aria-live="assertive" class="element-invisible" id="edit-field-other-role-ref-und-autocomplete-aria-live"></span></div>
              </div>
              <div class="form-item form-type-password-confirm form-item-pass">
                <div class="form-item form-type-password form-item-pass-pass1 password-parent">
                  <div class="password-strength">
                    <div aria-live="assertive" class="password-strength-text"></div>
                    <div class="password-strength-title">Password strength:</div>
                    <div class="password-indicator">
                      <div class="indicator"></div>
                    </div>
                  </div>
                  <label for="edit-pass-pass1">Password <span title="This field is required." class="form-required">*</span></label>
                  <input type="password" maxlength="128" size="25" name="pass[pass1]" id="edit-pass-pass1" placeholder="Password" class="password-field form-text required password-processed">
                </div>
                <div class="form-item form-type-password form-item-pass-pass2 confirm-parent">
                  <div class="password-confirm">Passwords match: <span></span></div>
                  <label for="edit-pass-pass2">Confirm password <span title="This field is required." class="form-required">*</span></label>
                  <input type="password" maxlength="128" size="25" name="pass[pass2]" id="edit-pass-pass2" placeholder="Password Repeat" class="password-confirm form-text required">
                </div>
                <div class="password-suggestions description" style="display: none;"></div>

                <div class="description">Provide a password for the new account in both fields.</div>
              </div>
              <div id="edit-actions" class="form-actions form-wrapper">
                <input type="submit" class="form-submit" value="Sign Up" name="op" id="edit-submit">
                <div class="sign-up-confirm">By clicking Sign Up, you agree to our <a href="/terms-of-use">Terms &amp; Conditions</a> &amp; <a href="privacy-policy">Privacy Statement</a></div>
              </div>
              <div class="hybridauth-widget-wrapper">
                <div class="item-list">
                  <h3>Or</h3>
                  <ul class="hybridauth-widget">
                    <li class="first last"><a data-hybridauth-height="500" data-hybridauth-width="800" data-ajax="false" data-hybridauth-url="/hybridauth/window/Facebook?destination=dashboard&amp;destination_error=home" data-hybridauth-provider="Facebook" rel="nofollow" class="hybridauth-widget-provider hybridauth-onclick-current hybridauth-onclick-processed hybridauth-last-provider hybridauth-provider-processed" title="Facebook" href="/hybridauth/window/Facebook?destination=dashboard&amp;destination_error=home"><span title="Facebook" class="hybridauth-icon facebook hybridauth-icon-hybridauth-48 hybridauth-facebook hybridauth-facebook-hybridauth-48"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
