{% block breadcrumd %}
  <div class="breadcrumd">
    <ul class="breadcrumd-left">
      <li><a href="#">My dashboard</a></li>
      <li class="current">Learning Resources</li>
    </ul>

    <div class="breadcrumd-right"><a href="#">My dashboard</a></div>
  </div>
{% endblock %}
