<!-- List has border -->
<ul class="list list-has-border list-grid">
  <li>Test</li>
  <li>Test</li>
  <li>Test</li>
  <li>Test</li>
  <li>Test</li>
  <li>Test</li>
</ul>

<!-- List number -->
<ol class="list-number">
  <li>Test</li>
  <li>Test</li>
  <li>Test</li>
  <li>Test</li>
  <li>Test</li>
  <li>Test</li>
</ol>

<!-- List icon -->
<ul class="list-icon">
  <li class="icon-checkmark">Test</li>
  <li class="icon-checkmark">Test</li>
  <li class="icon-checkmark">Test</li>
  <li class="icon-checkmark">Test</li>
  <li class="icon-checkmark">Test</li>
  <li class="icon-checkmark">Test</li>
</ul>
