<div id="modalContent" class="modal-content-sign-up modal fade">
  <div class="ctools-modal-content modal-forms-modal-content">
    <div class="popups-container">
      <div class="modal-header popups-title"> <span class="modal-title" id="modal-title">Privacy statement</span>  <span class="popups-close close" data-dismiss="modal">Close</span>
        <div class="clear-block"></div>
      </div>
      <div class="modal-scroll">
        <div class="modal-content popups-body" id="modal-content">
          <div class="notes-sign-up">
            <h4>Please read carefully</h4>
            You agree to use the Sites in accordance with all applicable laws. Because Stanford is a nonprofit, tax-exempt organization, you agree that you will not use the Site for organized partisan political activities. You further agree that you will not e-mail
            or post any of the following content anywhere on the Site, or on any other Stanford computing resources.
            <a class="button button-agree-sign-up ctools-modal-modal-popup-medium ctools-use-modal ctools-use-modal-processed" href="/modal_forms/nojs/register?destination=dashboard" data-toggle="modal" data-target=".region-header .modal-content-agree-sign-up" data-dismiss="modal">I agree to sign up</a>
            <a class="button-cancel-sign-up button" href="/" data-dismiss="modal">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
