{% block box_sign_up %}
  <div class="box-sign-up container">
    <h2 class="box-sign-up__title pane-title">Interested? Sign Up Now</h2>
    <form class="box-sign-up__form">
      <div class="box-sign-up__name">
        <input required="required" placeholder="Name" id="edit-submitted-name" name="submitted[name]" value="" size="60" maxlength="128" class="form-text required" type="text">
      </div>
      <div class="box-sign-up__surename">
        <input required="required" placeholder="Surename" id="edit-submitted-surename" name="submitted[surename]" value="" size="60" maxlength="128" class="form-text required" type="text">
      </div>
      <div class="box-sign-up__email">
        <input required="required" class="email form-text form-email required" placeholder="Email" id="edit-submitted-email" name="submitted[email]" size="60" type="email">
      </div>
      <div class="form-actions"><input type="submit" value="Submit" name="op" class="webform-submit button-primary form-submit"></div>
    </form>
  </div>
{% endblock %}