// Styles for header.

#header {
  padding: 37px 0 42px;
}

.branding {
  float: left;
  width: 110px;

  @include breakpoint($desktop-wide) {
    width: 18.5%;
  }
}

.region-header {
  @include box-sizing(border-box);
  @include transition(left,0.5s);
  background: #f2f2f2;
  display: inline-block;
  float: right;
  left: -300px;
  padding: 3px 0;
  position: fixed;
  top: 90px;
  width: 300px;

  @include breakpoint($desktop-wide) { 
    background: none;
    float: none;
    padding: 3px 0 3px 23px;
    position: inherit;
    width: 81.5%;
  }

  &.active {
    left: 0;
    padding-top: 0;
  }
}


.toggleMenu {
  border-bottom: 2px solid #afaba7;
  display: block;
  float: right;
  font-size: 0;
  height: 20px;
  position: relative;
  width: 25px;

  @include breakpoint($desktop-wide) {
    display: none;
  }

  &:before {
    border-bottom: 2px solid #afaba7;
    bottom: 5px;
    content: '';
    position: absolute;
    width: 25px;
  }

  &:after {
    border-top: 2px solid #afaba7;
    content: '';
    position: absolute;
    top: 4px;
    width: 25px;
  }
}

.navigation {
  float: right;
  font-family: 'SourceSansProBold',Helvetica,Arial,sans-serif;
  width: 100%;

  @include breakpoint($desktop-wide) {
    float: left;
    width: 62%;
  }

  .main-menu {
    list-style: none;
    margin: 0;
    padding: 18px 0 14px 18px;
    position: relative;

    @media (max-width: 500px) {
      clear: both;
      padding: 0;
      width: 300px;
    }

    li {
      a {
        color: #000000;
        font-size: 24px;

        @include breakpoint($desktop-wide) {
          color: #333333;
          font-size: 18px;
        }

        &:hover {
          color: #16a085;
        }
      }

      &.sub-item {
        > a {
          position: relative;

          &:before {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid #16a085;
            bottom: 50%;
            content: '';
            left: auto;
            margin-bottom: -4px;
            margin-left: -5px;
            position: absolute;
            right: 10px;

            @include breakpoint($desktop-wide) {
              border-bottom: 6px solid #16a085;
              border-top: medium none;
              bottom: 8px;
              left: 50%;
              right: 50%;
            }
          }
        }

        &:hover {
          .sub-menu {
            display: none;

            @include breakpoint($desktop-wide) {
              display: block;
            }
          }
        }

        a.active {
          background: #8c1515;
          color: #ffffff;

          &:before {
            border-top-color: #ffffff;
          }
        }

        .sub-menu {
          @include border-radius(3px);
          @include transition(left,0.5s);
          background: #16a085;
          display: none;
          left: 30px;
          list-style: none;
          padding: 10px 0;
          position: absolute;
          top: 53px;
          width: 300px;
          z-index: 99;

          &.active {
            background: none;
            border-radius: 0;
            display: block;
            left: 0;
            position: relative;
            top: 0;

            li a {
              color: #000000;
              font-size: 18px;
              padding: 12px 27px;

              &:hover {
                background: none;
                color: #16a085;
              }
            }
          }

          li {
            a {
              color: #ffffff;
              display: block;
              font-size: 15px;
              padding: 10px 20px;

              &:hover {
                background: #149077;
              }
            }
          }
        }
      }
    }

    > li {
      display: inline;

      @include breakpoint($desktop-wide) {
        border-top: 1px solid #ffffff;
      }

      &:last-child {
        border-bottom: 1px solid #ffffff;
        @include breakpoint($desktop-wide) {
          border-bottom: none;
        }
      }

      > a {
        padding: 12px 27px;
        display: block;

        @include breakpoint($desktop-wide) {
          padding: 16px 13px;
        }
      }
    }
  }
}

.link-header {
  float: right;
  width: 100%;
  padding-top: 0;

  @include breakpoint($desktop-wide) {
    padding: 2px 0;
    width: 38%;
  }

  a {
    @include border-radius(0);
    background: #16a085;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    margin-left: 0;
    padding: 12px 40px;
    text-decoration: none;
    width: 49.8%;
    
    @include breakpoint($desktop-wide) {
      @include border-radius(5px);
      margin-left: 16px;
      width: auto;
    }

    &:hover {
      background: #138a72;
    }

    &:first-child {
      background: #eaab02;
      margin-left: 0;
      margin-right: 1px;

      @include breakpoint($desktop-wide) {
        margin-right: 16px;
      }

      &:hover {
        background: #d19902;
      }
    }
  }
  
  span {
    color: #a3a3a3;
    display: none;

    @include breakpoint($desktop-wide) {
      display: inline-block;
    }
  }
}

.sec-content {
  @include transition(left,0.5s);
    left: 0;
    position: relative;
  
  &.active {
    @include transition(left,0.5s);
    left: 300px;
  }
}
