// Style Box Img
#box_img .component--demo {
  display: inline-block;
}

.box-img {
  @include span(6 of 12);
  float: left;
  margin-bottom: rem(19px);
  padding: 0 rem(15px);
  text-align: center;

  @include breakpoint($desktop-wide) {
    @include span(4 of $susy_wide_desktop at 3);
    margin-bottom: rem(44px);
    padding: 0 rem(45px);
  }
  
  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(6) {
    @include span(last 6 of 12);
  }

  @include breakpoint($desktop-wide) {
    &:nth-child(3),
    &:nth-child(6) {
      @include span(last 4 of 12);
    }

    &:nth-child(2),
    &:nth-child(4) {
      @include span(4 of 12);
    }

    &:nth-child(4) {
      clear: both;
    }
  }

  .box-img__image {
    @include border-radius(100%);
    background: #f4f3ef;
    display: inline-block;
    height: rem(85px);
    margin-bottom: rem(16px);
    position: relative;
    width: rem(85px);

    .field-img {
      @include transform(translateY(-50%));
      left: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 100%;

      img {
        display: inline-block;
      }
    }
  }

  .box-img__title {
    @include source-sans-prosemibold;
    font-size: rem(16px);
    font-weight: 400;
    margin-bottom: rem(18px);

    @include breakpoint($desktop-wide) {
      font-size: rem(22px)
    }
  }

  .box-img__content {
    display: none;

    @include breakpoint($desktop-wide) {
      display: block;
      font-size: rem(18px);
      margin-bottom: rem(18px);
    }
  }

  .box-hero__link {
    display: none;

    @include breakpoint($desktop-wide) {
      display: block;
      font-size: rem(19px);
      font-weight: bold;
    }
  }
}

.box-img--wide {
  .box-img__image {
    background: #ffffff;
  }
}
