.box-teaser{
  .box-teaser__grid{
    display: inline-block;
    width: 100%;

    .box-teaser__item{
      margin-bottom: rem(40px);

      .box-teaser__title{
        @include source-sans-prosemibold;
        color: $black;
        float: left;
        font-size: rem(20px);
        font-weight: normal;
        margin-bottom: 0;
        margin-right: rem(10px);
        text-transform: capitalize;

        @include breakpoint($mobile-only) {
          margin-bottom: rem(10px);
        }
      }

      .box-teaser__status{
        @include border-radius(3px);
        color: $white;
        display: inline-block;
        font-size: rem(12px);
        padding: rem( 2px 10px);
        text-transform: uppercase;

        @include breakpoint($mobile-only) {
          margin-bottom: rem(10px);
        }
      }

      .box-teaser__label{
        @include source-sans-prosemibold;
        color: $black;
        display: block;
        font-size: rem(14px);
        margin-bottom: rem(5px);
        text-transform: uppercase;

        @include breakpoint($mobile-only) {
          margin-bottom: 0;
        }
      }

      .box-teaser__line-item{
        display: inline-block;
        font-size: rem(14px);
        padding-right: rem(35px);
        vertical-align: top;
        width : span(3 of 12);

        @include breakpoint($mobile-only) {
          margin-bottom: (10px);
        }

        &:last-of-type{
          padding-right: 0;
        }

        @include breakpoint($mobile-only) {
          width: 100%;

          &:nth-child(n+1){
            padding-right: 0;
          }
        }
      }

      .box-teaser__rating .br-widget {
        display: inline-block;

        a{
          @include icomoon;
          float: left;
          margin-right: rem(5px);

          &:before{
            color: $grey-e1;
            content: "\e601";
          }

          &.br-active,
          &.br-selected{
            &:before{
              color: $yellow-ea;
            }
          }
        }

        .br-current-rating{
          float: left;
          margin-left: rem(10px);
          padding-right: rem(15px);
          position: relative;

          &:before{
            content: "/5";
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }

      .box-tag{
        margin-bottom: 0;
      }
        
      .box-teaser__line-task{
        display: inline-block;
        margin-bottom: rem(20px);
        width: 100%;

        @include breakpoint($mobile-only) {
          margin-bottom: 0;
        }
      }

      .box-teaser__content{
        line-height: 1.5;
        margin-bottom: rem(15px);
      }
    }
  }

  &.box-teaser--twocol{
    .box-teaser__grid{
      .box-teaser__item{
        float: left;
        width: span(6 of 12);

        @include breakpoint($mobile-only) {
          width : 100%;
        }

        .box-teaser__line-item{
          float: left;

          &:first-of-type{
            width: span(6 of 12);

            @include breakpoint($mobile-only) {
              width : 100%;
            }
          }

          &:last-of-type{
            width: span(last 3 of 12);

            @include breakpoint($mobile-only) {
              width : 100%;
            }
          }
        }
      }
    }
  }
  &.box-teaser--detail{
    .box-teaser__line-task{
      .box-teaser__title{
        @include source-sans-pro-regular;
        color: $black;
        font-size: rem(40px);
      }
    }
  }
}


