.box-teaser{
  .box-teaser__item{
    margin-bottom: 50px;

    .box-teaser__line-task{
      display: inline-block;
      margin-bottom: 20px;
      width: 100%;

      .box-teaser__title{
        color: $black;
        font-size: rem(20px);
        float: left;
        @include source-sans-prosemibold;
        text-transform: capitalize;
      }

      .box-teaser__status{
        color: $white;
        text-transform: uppercase;
        padding: 2px 10px;
        margin-left: 20px;
        font-size: rem(12px);
        @include border-radius(3px);
      }

      .box-teaser__label{
        color: $black;
        display: block;
        font-size: rem(14px);
        @include source-sans-prosemibold;
        text-transform: uppercase;
      }

      .box-teaser__line-item{
        display: inline-block;
        width : span(3 of 12);
        padding-right: 35px;
        vertical-align: top;

        &:last-of-type{
          padding-right: 0;
        }

        @include breakpoint($mobile-only) {
          width : span(6 of 12);

          &:nth-child(n+1){
            padding-right: 0;
          }
        }
      }

      .box-teaser__rating .br-widget {
        height: 28px;
        line-height: 28px;

        a{
          @include icomoon;
          margin-right: 5px;
          float: left;

          &:before{
            content: '\e600';
            color: $grey-e1;
          }

          &.br-active,
          &.br-selected{
            &:before{
              content: "\e601";
              color: $yellow-ea;
            }
          }
        }

        .br-current-rating{
          float: left;
          margin-left: 10px;
          position: relative;
          padding-right: 15px;

          &:before{
            content: "/5";
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }
    }
  }

  &.box-teaser--full{
  }
}

