// ICONS.
%icons {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  &:before {
    @extend %icons;
  }
}

// IMPORTANT. For updating the icon lib, replace the icons code below:
.icon-mail:before {
  content: "\f0e0";
}

.icon-checkmark:before {
  content: "\e604";
}

.icon-google-plus2:before {
  content: "\e600";
}
.icon-facebook3:before {
  content: "\e601";
}
.icon-facebook2:before {
  content: "\e602";
}
.icon-twitter2:before {
  content: "\e603";
}

.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}

.icon-google-plus:before {
  content: "\f0d5";
}
.icon-envelope:before {
  content: "\f0e0";
}

.icon-angle-left:before {
  content: "\f104";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-angle-up:before {
  content: "\f106";
}

.icon-angle-down:before {
  content: "\f107";
}

.icon-long-arrow-left:before {
  content: "\f177";
}

.icon-long-arrow-right:before {
  content: "\f178";
}

.icon-clear:before {
  content: "\e070";
}

.icon-keyboard_arrow_left:before {
  content: "\e110";
}

.icon-keyboard_arrow_right:before {
  content: "\e111";
}

.icon-keyboard_backspace:before {
  content: "\e113";
}

.icon-arrow_drop_down:before {
  content: "\e201";
}

.icon-arrow_drop_up:before {
  content: "\e203";
}

.icon-menu:before {
  content: "\e20e";
}

.icon-menu2:before {
  content: "\e120";
}

.icon-star:before {
  content: "\e605";
}

.icon-lock:before {
  content: "\e606";
}

.icon-user:before {
  content: "\e607";
}

.icon-location:before {
  content: "\f060";
}

.icon-locked:before {
  content: "\e608";
}
