.list{
	@include clearfix;
	&.list-has-border{
		li{
			padding-left: 18px;
			position: relative;
			margin-bottom: 17px;
			&:before{
				content: '';
				position: absolute;
				width: 10px;
				height: 1px;
				background-color: $default-color;
				top: 10px;
				left: 0;
				line-height: 18px;
			}
		}
	}
	&.list-grid{
		li{
			@include breakpoint($tablet){
				@include gallery(6 of 12);
			}
		}
	}
}

//Style list-number.
.list-number{
	@include breakpoint($tablet){
		column-count:2;
		column-gap:40px;
		-moz-column-count: 2;
		-moz-column-gap: 40px;
		-o-column-count: 2;
		-o-column-gap: 40px;
		-ms-column-count: 2;
		-ms-column-gap: 40px;
		-webkit-column-count: 2;
		-webkit-column-gap: 40px;
	}
	li{
		padding: 0 0 13px 0;
		position: relative;
		font-size: $base-font-size + 2px;
		@for $i from 1 through 20 {
			&:nth-child(#{$i}) {
				&:before {
					content: '#{$i}. ';
				}
			}
		}
		&:before{
			color: $blue-14;
			@include source-sans-prosemibold;
		}
	}
}

//Style list-icon.
.list-icon{
	li{
		margin-bottom: 27px;
		@include source-sans-pro-regular;
		font-size: $base-font-size + 2px;
	}
	[class^="icon-"], [class*=" icon-"] {
		&:before {
			padding-right: 7px;
			color: $blue-14;
			@extend %icons;
		}
	}
}
