.box-intro{
  margin-bottom: rem(50px);
  text-align: center;

  .box-intro_content{
    line-height: 1.9;

    .morecontent span {
      display: none;
    }
    
    .morelink {
      @include source-sans-prosemibold;
      color: $grey-5f;
      display: block;
      margin-bottom: rem(30px);

      &:hover{
        color: $hover-links;
      }
    }
  }
}
