.box-intro{
  margin-bottom: 50px;
  text-align: center;

  .box-intro_content{
    line-height: 1.9;

    .morecontent span {
      display: none;
    }
    
    .morelink {
      display: block;
      color: $grey-5f;
      @include source-sans-prosemibold;
    }
  }
}
