{% set boxrelated =[
  {'title':'Cube It- Patterns, Polynomials, and Modeling Development Programs',
  'status':'free',
  'category':'Curriculum, Instruction, & Assessment',
  'content':'In this task students will design and analyze an object made of regular shapes of their choosing. hey will specifically analyze how changing the objects dimensions'},

  {'title':'Cube It- Patterns, Polynomials, and Modeling Development Programs',
  'status':'paid',
  'category':'Curriculum, Instruction, & Assessment',
  'content':'In this task students will design and analyze an object made of regular shapes of their choosing. hey will specifically analyze how changing the objects dimensions'},

  {'title':'Cube It- Patterns, Polynomials, and Modeling Development Programs',
  'status':'free',
  'category':'Curriculum, Instruction, & Assessment',
  'content':'In this task students will design and analyze an object made of regular shapes of their choosing. hey will specifically analyze how changing the objects dimensions'},
  ]
%}

{% block boxrelated %}
  <div class="box-related box-teaser container">
    {% for itemrelated in boxrelated %}
      <div class="box-related__item box-teaser__item">
        <div class="box-teaser__line-task box-related__line-task">
          <h2 class="box-related__title box-teaser__title">{{ itemrelated.title }}</h2>
          <span class="box-related__status box-teaser__status">{{ itemrelated.status }}</span>
      </div>
      <div class="box-related__category">{{ itemrelated.category }}</div>
      <div class="box-related__content">{{ itemrelated.content }}</div>
      <div class="box-related__tags">{% include "../box-tags/box-tags.twig" %}</div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
