//Greyscale tones
$grey-1: #111;
$grey-2: #222;
$grey-3: #333;
$grey-4: #444;
$grey-5: #555;
$grey-6: #666;
$grey-7: #777;
$grey-8: #888;
$grey-9: #999;

$grey-a: #aaa;
$grey-b: #bbb;
$grey-c: #ccc;
$grey-d: #ddd;
$grey-e: #eee;
$grey-5f: #5f574f;
$grey-df: #dfdfdf;

$grey-f8: #f8f8f8;
$grey-c1: #c1c1c1;
$grey-a3: #a3a3a3;
$grey-af: #afaba7;
$grey-fc: #fcfbfa;
$grey-f3: #F3F3EE;
$grey-f2: #F2F2F2;
$grey-f6: #F6F7F4;
$grey-f9: #F9F9F7;
$grey-1c: #1c1c1c;
$grey-f4: #f4f3ef;
$grey-4d: #4d5357;
$grey-72: #726b63;
$grey-f7: #f7f7f4;
$grey-ba: #bab2aa;
$grey-e1: #e1e1e1;
$grey-b7: #b7b7b7;
$grey-e5: #e5e5e5;
$grey-ef: #efeeed;
$grey-b2: #B2B2B2;
$grey-46: #464646;
$grey-f5: #f5f4f0;
$grey-e8: #e8e7e3;
$gray-57: #575757;

$yellow-ea: #eaab02;

$grey-f8: #f8f8f8;
$grey-c1: #c1c1c1;

$natural-red: #ff0;
$dark-red: #8C1515;
$dark-violet: #9b59b6;

$pink-d8: #d85682;
$blue-1b: #1b7cff;
$blue-14: #149077;
$blue-2a: #2aa9de;
$blue-50: #507cbe;
$blue-34: #3498db;
$dark-orange: #f39c12;
$red-e7: #e74c3c;
$dark-orchid3: #9b59b6;

$chambray: #445b93;
$san-marino: #4c66a4;
$buddha-gold: #d19902;
$green-white: #eae8e0;

$white: #fff;
$black: #000;

//Brand Colors
$red: #da2626;
$blue: #235a8e;
$green: #16a085;
$green16: #16a085;
$dark-green: #00A986;


//Theme specifics
$base-color: $grey-3;
$border: $grey-c1;
$default-background-color: $grey-fc;
$default-color: $grey-5f;
$hover-links: $green;
$color-links: $green;
