{% block footer %}
  <div class="footer">
    <div class="container">
      <div class="copyright">
        <div class="left">&copy; 2015 Innovation Lab Network Online Resource Bank</div>
      </div>
      <div class="menu-footer">
        <ul class="menu">
          <li><a title="" href="#">Terms of Use</a></li>
          <li><a title="" href="#">Privacy Statement</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
