{% set boxintro = {
  'title':'Our Mission',
  'content':'Our goal is to increase the capacity of leaders, policymakers, and school-based educators to develop systems that support more meaningful forms of student learning and prepare students for success in college, career, and life. We believe performance assessment is a powerful educative experience for students and teachers and its effective use can lead to deeper student learning, increased opportunities to learn, and more equitable systems of assessment and accountability.Our goal is to increase the capacity of leaders, policymakers, and school-based educators to develop systems that support more meaningful forms of student learning and prepare students for success in college, career, and life. We believe performance assessment is a powerful educative experience for students and teachers and its effective use can lead to deeper student learning, increased opportunities to learn, and more equitable systems of assessment and accountability.Our goal is to increase the capacity of leaders, policymakers, and school-based educators to develop systems that support more meaningful forms of student learning and prepare students for success in college, career, and life. We believe performance assessment is a powerful educative experience for students and teachers and its effective use can lead to deeper student learning, increased opportunities to learn, and more equitable systems of assessment and accountability.'} 
%}

{% block boxintro %}
  <div class="box-intro container">
    <h2 class="pane-title box-intro_title">{{ boxintro.title }}</h2>
    <div class="box-intro_content">{{ boxintro.content }}</div>
  </div>
{% endblock %}

