<div class="box-img ">
  <div class="box-img__image">
    <div class="field-img">
      <img src="http://stanfordilnhd4dalk5nb.devcloud.acquia-sites.com/sites/all/themes/custom/iln_theme/img/performance-tasks.png" typeof="foaf:Image">
    </div>
  </div>
  <h3 class="box-img__title">Performance Tasks</h3> 
  <div class="box-img__content">K-12 performance tasks in math, English/language arts, science, and history/social studies</div> <a href="#" class="box-hero__link">Browse</a> 
</div>
<div class="box-img ">
  <div class="box-img__image">
    <div class="field-img">
      <img src="http://stanfordilnhd4dalk5nb.devcloud.acquia-sites.com/sites/all/themes/custom/iln_theme/img/portfolio-frameworks.png" typeof="foaf:Image">
    </div>
  </div>
  <h3 class="box-img__title">Portfolio Frameworks</h3> 
  <div class="box-img__content">Learn how schools and systems use performance assessment as part of a larger portfolio of student work</div> <a href="#" class="box-hero__link">Browse</a> 
</div>
<div class="box-img ">
  <div class="box-img__image">
    <div class="field-img">
      <img src="http://stanfordilnhd4dalk5nb.devcloud.acquia-sites.com/sites/all/themes/custom/iln_theme/img/learning-progressions.png" typeof="foaf:Image">
    </div>
  </div>
  <h3 class="box-img__title">Learning Progressions & Frameworks</h3> 
  <div class="box-img__content">Learn to use developmental progressions & trajectories to support students in math, English/language arts, and 21st century skills & dispositions</div> <a href="#" class="box-hero__link">Browse</a> 
</div>
<div class="box-img box-img--wide">
  <div class="box-img__image">
    <div class="field-img">
      <img src="http://stanfordilnhd4dalk5nb.devcloud.acquia-sites.com/sites/all/themes/custom/iln_theme/img/assessment-literacy.png" typeof="foaf:Image">
    </div>
  </div>
  <h3 class="box-img__title">Assessment Literacy</h3> 
  <div class="box-img__content">Tools that will help you learn to use, develop, review, & score performance tasks</div> <a href="#" class="box-hero__link">Browse</a> 
</div>
<div class="box-img box-img--wide">
  <div class="box-img__image">
    <div class="field-img">
      <img src="http://stanfordilnhd4dalk5nb.devcloud.acquia-sites.com/sites/all/themes/custom/iln_theme/img/curriculum-instruction-assessment.png" typeof="foaf:Image">
    </div>
  </div>
  <h3 class="box-img__title">Curriculum, Instruction, & Assessment</h3> 
  <div class="box-img__content">Resources supporting the integration of performance assessment with curriculum and instruction, including sample units and modules</div> <a href="#" class="box-hero__link">Browse</a> 
</div>
<div class="box-img box-img--wide">
  <div class="box-img__image">
    <div class="field-img">
      <img src="http://stanfordilnhd4dalk5nb.devcloud.acquia-sites.com/sites/all/themes/custom/iln_theme/img/policy-resources.png" typeof="foaf:Image">
    </div>
  </div>
  <h3 class="box-img__title">Policy & Research</h3> 
  <div class="box-img__content">Learn about state and district policies that support performance assessment & evidence from research to support these policies</div> <a href="#" class="box-hero__link">Browse</a> 
</div>
