{% block testimonial %}
  <div class="testimonial-wrapper">
    <h2 class="testimonial__title pane-title">TESTIMONIALS</h2>
    <div class="testimonial-inner">
      <div class="testimonial_item">
        <div class="testimonial__content">Loaded with awesome features, premium sliders, unlimited colors, advanced theme options and much more</div>
          <cite class="testimonial__author">
            <span class="author-name">JANE SMITH</span>, <span class="author-description">9TH GRADE SCIENCE TEACHER</span>
          </cite>
      </div>
      <div class="testimonial_item">
        <div class="testimonial__content">Loaded with awesome features, premium sliders, unlimited colors, advanced theme options and much more.Loaded with awesome features, premium sliders, unlimited colors, advanced theme options and much more</div>
          <cite class="testimonial__author">
            <span class="author-name">JANE SMITH</span>, <span class="author-description">9TH GRADE SCIENCE TEACHER</span>
          </cite>
      </div>
      <div class="testimonial_item">
        <div class="testimonial__content">Loaded with awesome features, premium sliders, unlimited colors, advanced theme options and much more</div>
          <cite class="testimonial__author">
            <span class="author-name">JANE SMITH</span>, <span class="author-description">9TH GRADE SCIENCE TEACHER</span>
          </cite>
      </div>
    </div>
  </div>
{% endblock %}
